.hero {
    height: 700px;
    width: 100%;
    background: black;
    overflow: hidden;
    background: #1F2833;  /* fallback colour. Make sure this is just one solid colour. */
    background: linear-gradient(rgba(31, 40, 51, 0.75), rgba(31, 40, 51, 0.75)), url("../img/oscar-keys-ojVMh1QTVGY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

i {
    color: #66FCF1;
    font-size: 32px;
    margin-left: 10px;
}

p {
    color: #C5C6C7;
    font-size: 2rem !important;
}

a {
    text-decoration: none;
    display: flex;
}

