html,
body {
  height: 100%;
  font-family: 'Voltaire', sans-serif;
  background: #1F2833;  /* fallback colour. Make sure this is just one solid colour. */
  background: linear-gradient(rgba(31, 40, 51, 0.75), rgba(31, 40, 51, 0.75)), url("../img/webb-dark.png");
  background-position: center;
  background-repeat: repeat;
}

nav {
  width: 100%;
  background-color: #1F2833 !important;
}

nav.nav-link{
  color: #45A29E;
}

nav a {
  color: #45A29E;
}

nav a:hover {
  color: #66FCF1;
}
h1, h2, h4{
  color: #66FCF1;
}

footer.footer{
  background-color: #1F2833 !important;
  position: relative !important;
  bottom: 0px;
}

p{
  color: #C5C6C7;
}

input.btn.text-center {
  background-color: #1F2833;
  color: #64fcf2;
}

input.form-control {
  background-color: #1f2833;
  border-color: #1F2833;
  color: #45A29E;
}

input.form-control:focus {
  background-color: #1f2833;
  color: #45A29E;
}

input.form-control::placeholder {
  color: #45A29E;
}